<!-- form-xlarge -->
<fieldset>
  <div class="form-group title-group">
    <label for="issue-titleEN" class="control-label control-label-lg col-sm-2">{{__ "common.fields.title" }} ({{__ "common.langs.EN" }})</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-lg" name="issue[titleEN]" id="issue-titleEN" maxlength="128" value="{{ titleEN }}" placeholder="{{__ "common.fields.title" }} ({{__ "common.langs.EN" }})" required="required" />
      <p class="help-block">{{__ "issue.form.title_help" }}</p>
    </div>
    <label for="issue-titleFR" class="control-label control-label-lg col-sm-2">{{__ "common.fields.title" }} ({{__ "common.langs.FR" }})</label>
    <div class="col-sm-10">
      <input type="text" class="form-control input-lg" name="issue[titleFR]" id="issue-titleFR" maxlength="128" value="{{ titleFR }}" placeholder="{{__ "common.fields.title" }} {{__ "common.langs.FR" }}" required="required" />
      <p class="help-block">{{__ "issue.form.title_help" }}</p>
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="col-sm-offset-2 col-sm-10">
    <div class="row"><legend class="col-sm-8">{{__ "common.nouns.codes" }}</legend></div>
  </div>
  <div class="form-group">
    <label for="fundservCode" class="control-label control-label-lg col-sm-2">{{__ "issue.fields.fundservCode" }}</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" name="issue[fundservCode]" maxlength="8" value="{{ fundservCode }}" />
    </div>
  </div>
  <div class="form-group">
    <label for="ismCode" class="control-label control-label-lg col-sm-2">{{__ "issue.fields.ismCode" }}</label>
    <div class="col-xs-6">
      <input type="text" class="form-control" name="issue[ismCode]" maxlength="8" value="{{ ismCode }}" />
    </div>
  </div>
</fieldset>

<fieldset>
  <div class="col-sm-offset-2 col-sm-10">
    <div class="row"><legend class="col-sm-8">{{__ "common.nouns.dates" }}</legend></div>
  </div>
  <div class="date-group form-group">
    <label for="issuanceDate" class="control-label control-label-lg col-sm-2">{{__ "issue.fields.issuanceDate" }}</label>
    <div class="col-xs-6">
      <input type="text" class="form-control datepicker" name="issue[issuanceDate]" maxlength="10" value="{{datepicker issuanceDate}}" data-date="{{datepicker issuanceDate}}" data-date-format="{{__ "common.dates.formats.input" }}"  />
    </div>
  </div>
  <div class="date-group form-group">
    <label for="maturityDate" class="control-label control-label-lg col-sm-2">{{__ "issue.fields.maturityDate" }}</label>
    <div class="col-xs-6">
      <input type="text" class="form-control datepicker" name="issue[maturityDate]" maxlength="10" value="{{datepicker maturityDate}}" data-date="{{datepicker maturityDate}}" data-date-format="{{__ "common.dates.formats.input" }}"  />
    </div>
  </div>
</fieldset>