<header class="clearfix">
  <h1 class="left-sm">{{__ "issue.meta.className_plural" }}</h1>
  <ul class="list-inline left-sm">
    <li>
      <a href="/issues/new" id="new-issue-link" class="btn btn-success">
        <span class="glyphicon glyphicon-plus"></span> {{__ "issue.actions.new_issue" }}
      </a>
    </li>
  </ul>
</header>

<ul>
{{#each models}}
  <li>
    <a href="/issues/{{objectId}}/{{i18n "slug"}}">{{i18n "title"}}</a>
  </li>
{{/each}}
</ul>
